body {
    font-family:'Muli', sans-serif;
    font-size: 15px;
}

#main-info {
   background: #007bff;
   color: aliceblue;
   padding: 20px 0px;
   font-size: 10px;
}
.main-info-container {
    
    width: 1300px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.main-info-contact {
    font-size: 10px;
    
}
.main-info-social {
    font-size: 16px
    }
    .main-info-social i {
    margin: 0px 10px;
}
.main-info-contact span {
    margin: 0px 10px;
}
.main-info-contact span i {
    margin-left: 10px;
}
    
